body {
 font-family: Open Sans;
 margin: 0;
 padding: 0;
 background-image: linear-gradient(#212121, #000000);
 color: #FFFFFF;
 animation: background-change 20s infinite;
}
@keyframes background-change {
 0% { background-image: url('sunset.jpg'); }
 25% { background-image: url('malam_bintang.jpg'); }
 50% { background-image: url('pagi_hari.jpg'); }
 75% { background-image: url('awan.jpg'); }
 100% { background-image: url('sunset.jpg'); }
}
header {
 background-color: #03A9F4;
 padding: 1em;
 text-align: center;
}
header nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
}
header nav ul li {
 margin-right: 20px;
}
section {
 padding: 2em;
}
#home {
 text-align: center;
}
#home button {
 background-color: #4CAF50;
 color: white;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
#home button:hover {
 background-color: #3e8e41;
}
#cerita {
 background-color: #f9f9f9;
 opacity: 0.8;
}
#galeri {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
#galeri img {
 width: 30%;
 margin: 10px;
 border-radius: 10px;
}